{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],

  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "import/extensions": ["off"],
    "react/require-render-return": "off",
    "react/no-unused-class-component-methods": "off",
    "class-methods-use-this": "off",
    "react/no-access-state-in-setstate": "off",
    "react/destructuring-assignment": "off",
    "no-new": 0,
    "no-use-before-define": "off"
  }
}
