{
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"trailingComma": "none",
	"arrowParens": "avoid",
	"useTabs": true
}
