.lotto-section-tickets {
  box-sizing: border-box;
  overflow: scroll;
  max-height: 30vh;
  background-color: #ccf0f5;
  border-radius: 2rem;
  margin-top: 1rem;
  margin: auto 0;
  padding: 2rem;
}

.lotto-section-tickets.hidden > .lotto-section__ticket > .lotto-section__ticket__numbers{
  display:none ;
}

.lotto-section-tickets::-webkit-scrollbar {
  width: 0.6rem;
  padding :1rem;
}
.lotto-section-tickets::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background-color: #00bcd4;
}

.lotto-section__ticket {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.lotto-section__ticket__numbers {
  font-size: 1.4rem;
  color: #000;
}
