#lotto-list {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}

.lotto-item {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.lotto-icon {
  font-size: xx-large;
  margin-right: 1rem;
}

.lotto-numbers {
  font-size: larger;
}
