.app-container {
  width: 100%;
}

#purchased-lottos,
#check-winning-number {
  display: none;
}

#lotto-list.expanded {
  flex-direction: column;
}

#lotto-list .lotto-detail {
  display: none;
  font-size: 16px;
  margin: 0 0 0 10px;
}

#lotto-list.expanded .lotto-detail {
  display: inline-block;
}

#purchased-lottos.display,
#check-winning-number.display {
  display: block;
}
