@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

.result-container{
  display: none;
}

#lotto-container { 
  list-style: none;
  padding: 0;
  display: flex;
}

.lotto-content {
  display: flex; 
  align-items: center;
}

.lotto-numbers {
  display: none;
}