@import "./shared/index.css";
@import "./ui/index.css";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number-form {
  display: none;
}

.winning-number-form.show {
  display: block;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}
