@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

.lotto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotto-container span {
  display: block;
  margin-right: 20px;
}

.lotto-detail {
  font-size: 1.25rem;
}

/* purchase-tickets:not(:defined) {
  display: block;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

purchase-ticket:not(:defined) {
  display: block;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

purchase-tickets:not(:defined) {
  display: none;
}

purchase-tickets:defined {
  display: block;
}

purchase-ticket:not(:defined) {
  display: none;
}

purchase-ticket:defined {
  display: block;
}
