@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.lottos {
  list-style: none;
  padding: 0;
}

.lottos > .lotto-wrapper {
  display: flex;
}

.lottos > .lotto-wrapper > .lotto-detail {
  font-size: 1.25rem;
  margin-left: 12px;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}
