@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

ul {
  list-style: none; padding: 0
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

#purchase-section {
  display: none;
}

#purchase-section.is-active {
  display: block;
}

#lotto-wrapper-list .lotto-detail {
  display: none;
}

#lotto-wrapper-list.flex-col .lotto-detail {
  display: inline;
}

#lotto-winning-number-form {
  display: none;
}

#lotto-winning-number-form.is-active {
  display: block;
}

