input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn.btn-cyan:hover {
  background-color: #018c9e !important;
}
form {
  display: block;
}
.mt-9 {
  margin-top: 2.25rem;
}
.d-inline-block {
  display: inline-block;
}
html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}
.d-flex {
  display: flex;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.w-100 {
  width: 100%;
}
.btn-cyan {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
}
.btn {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  cursor: pointer;
}
.mt-0 {
  margin-top: 0px;
}
.font-bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.winning-number {
  width: 30px;
  height: 36px;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.bonus-number {
  width: 30px;
  height: 36px;
}
.justify-center {
  justify-content: center;
}
